/* GLOBAL */



/* HOME */

/* navbar */



/* jumbo */
#jumbo-home{
    background: linear-gradient(
        rgba(46, 139, 87,0.90), 
        rgba(46, 139, 87,0.90)
      ),
      url("../img/jumbo-3.png");
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
}

#jumbo-container{
  color:white;
}


/* about */



/* skills */



/* work */



/* footer */


/* WORK SAMPLE PAGE */





/* CONTACT PAGE */




