/* GLOBAL */
html{
    font-size:10px;
}
body{
    background-color:#fff;
}

h1,h2,h3,h4,h5,h6,p,a,li {
 font-family: 'Roboto', sans-serif;
}

h1{
    font-size:4rem;
}

h2 {
    font-size:3.6rem;
    font-weight: 300;
}

h3 {
    font-size:3.2rem;
}

p{
    font-size:1.8rem;
}


/* HOME */

/* navbar */        /*navbar height is 46.25*/
.close-bar{
    font-size:2rem;
    margin-left:10px;
}

#collapsible-navbar {
    margin-right:10px;
}


/* jumbo */
#jumbo-home{
    background: linear-gradient(
        rgba(46, 139, 87, 0.95), 
        rgba(46, 139, 87, 0.95)
      ),
      url("../img/code-bg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    margin:0px;
}

#jumbo-container{
  color:white;
}

/* about */
#about-me {
    height:auto;
    min-height:700px;
    /*padding-top: 46.25px;
    margin-top: -46.25px;*/
}

#casey-portrait{
    max-width:200px;
    height:100%;
    border:1px solid black;
    padding:0;
}

/* skills */
#my-skills {
    /* background-color:palegoldenrod;*/
    border-top: 1px solid black;
    height:auto;
    min-height:700px;
}

.skill-div{
    background-color:rgba(23,23,23,0.8);
    color:white;
}

.skill-group-head{
    font-weight:700;
}

.list-group-item {
    font-size:2rem; 
    border:none;
    background:transparent;
    font-weight:100;
}




/* work */
#work-samples{
    height:100vh;
}

/* footer */
#footer {
    background-color:lavender;
    height:50vh;
}

/* WORK SAMPLE PAGE */





/* CONTACT PAGE */






/* MOBILE STYLES */

