/*Color Palette*/



/* New Palette */

/* Dark Grey (replace black)       rgb(44,44,44);
Blue                            rgba(52, 152, 219);
Another darker blue             rgba(41, 128, 185);
Red                             rgba(231, 76, 60);
white                            rgba(236, 240, 241)*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GLOBAL */
html{
    font-size:10px;
}

#portrait-content {
    display:block;
    margin-top:46.25px;
}

#landscape-content {
    background-image: url('../img/mobile-landscape-background.png');
    background-size:contain;
    display: none;
    height: 100vh;

}

body{
    background-color:rgba(255,255,255);
    color:rgb(44, 44, 44);
    font-family: 'Roboto', sans-serif;
    /* margin-top:46.25px; */
}

h1,h2,h3,h4,h5,h6,p,a,li {
 font-family: 'Roboto', sans-serif;
}

h1{
    font-size:7rem;
}


h3 {
    font-size:3.2rem;
}

h4 {
    font-size:2.0rem;
}

p{
    font-size:1.8rem;
    line-height: 1.5
}

.section-head {
    font-size:5.5rem;
    font-weight: 300;
}

.drop-cap{
    color: rgba(231, 76, 60);
    font-size: 4rem;
    font-weight:300;
    line-height:0;
    font-variant: small-caps;
}

.red-icon {
    font-size:5rem;
    color:rgba(231, 76, 60);
}

.red-text {
    color:rgba(231, 76, 60);
}

.divider {
    color:rgba(231, 76, 60);
}

.btn, .card, input, textarea {     /*Get rid of Bootstrap rounded corner defaults*/
    border-radius:0 !important;
}

.btn:hover{
    transform: scale(1.05);
    color:white;
}

/* HOME */

/* navbar */        
#navigation{
    background-color: rgba(80,74,74);
}

.close-bar{
    font-size:2rem;
    margin-left:10px;
    color:rgba(255,255,255);
}

.close-bar:visited { 
    color:rgba(255,255,255);
 }

.close-bar:hover {
    color:rgba(231, 76, 60);
 }

#collapsible-navbar {
    margin-right:10px;
}

#brand {
    font-weight:300;   
}

/* jumbo */
#jumbo-home{
    background: linear-gradient(
        rgba(52, 152, 219, 0.6), 
        rgba(52, 152, 219, 0.6)
      ),
      url("../img/portrait-bg-2.jpg");
    background-position:bottom right;
    background-size:cover;
    background-repeat:no-repeat;
    overflow: hidden;
    min-height:100vh;
    margin:0px;
    border-bottom:1px solid rgba(44,44,44);
}

#jumbo-container{
  color:white;
}

#jumbo-text-container{
    margin:30px 0px 0px 20px;
}

#jumbo-head-1 {
    font-size: 5rem;
    font-weight:700;
}

#jumbo-head-2{
    font-size:3.5rem;
    font-weight:400;
}

#jumbo-head-3 {
    font-size: 2.8rem;
    font-weight: 300;
    line-height:2rem;
}

#headline {
    line-height:4rem;
}
 
#jumbo-head-3, #cursor3 {
    line-height:1rem;
}
 
.cursor {
    font-weight:300;
    font-size:7rem;
}

#cursor2, 
#cursor3 {
    display:none;
}

/* ABOUT */

#about-me {
    height:auto;
    min-height:100vh;
    margin: 50px auto;
    scroll-margin-top: 90px 
}


#about-container {
    margin: auto;
    width:90%;
}

#about-content-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#about-icon{
    transform:rotate(90deg);
}

#casey-portrait{
    display: block;
    max-width:200px;
    height:auto;
    border:1px solid rgba(44, 44, 44);
    border-radius: 50%;
    margin:50px auto;
    padding:0; 
}

/* SKILLS */
#my-skills {
    border-top: 1px solid rgba(44, 44, 44);
    height:auto;
    min-height:100vh;
    scroll-margin-top: 45px 
}

#skills-container {
    margin: 50px auto;
    width:90%;
}

#skills-icon{
    transform:rotate(180deg);
    color:rgba(231, 76, 60);
}

.skill-group-head{
    font-weight:100;
}

.skills-head {
    border-bottom: 1px solid rgba(231, 76, 60);
    margin: 0 auto 20px;
    font-weight:300;
    color:rgba(231, 76, 60);
    width: 100%;
}

#skills-intro-text{
    margin: 50px auto;
}

#skill-proficient, 
#skill-exposed {
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-flow: row wrap;
}

.skill-list{
    list-style:none;
    display:block;
    margin: 20px auto;
    padding:0;
}

.left {
    justify-self: start;
    width: 60%;
}

.right {
    justify-self: flex-end;
    width:40%
}

.skill-list li::before{
    content: "\2022";
    color: rgba(231, 76, 60);
    font-weight: bold;
    display: inline-block;
    width:1em;
}

.skills-text {

    font-size:2.2rem;
    font-weight: bold;
    line-height:1.5;
}

#skill-exposed {
    margin: 25px auto;
}

/* projects */
#projects{
    border-top: 1px solid rgba(44, 44, 44);
    height:auto;
    min-height:100vh;
    scroll-margin-top: 45px 
}

#projects-icon{
    transform:rotate(270deg);
}
 
#projects-container {
    margin: 50px auto;
    width:90%;
}

#sites-samples {
    margin: 50px auto;
}

.work-sample-section-head{
    border-bottom: 1px solid rgba(231, 76, 60);
    margin: 0 auto 20px;
    font-weight:300;
    color:rgba(231, 76, 60);
    width: 100%;
}

/* work sample cards */
.work-sample-card{
    background: rgba(236, 240, 241, 0.5);
    border:1px solid rgba(44,44,44);
    margin-top: 40px;
    height:550px;
}

.work-sample-img {
    border-bottom:1px solid rgba(44,44,44);
    display:block;
    margin:auto;
    width:100%;
}

.work-sample-card-content {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow:row wrap;


    margin: 25px auto;

    width: 90%;
}

.work-sample-card-title {
    color:rgba(231, 76, 60);
    font-size: 2.6rem;
    font-weight:200;
    width:100%;
}

.sample-tool-list {
    min-height:74px;
    width:100%;
}

.sample-tools {
    display: inline-block;
    margin: 10px 20px 0 0;
    font-size:1.8rem;
    font-weight:700;
}

.sample-tools::before{
    content: "\2022";
    color: rgba(231, 76, 60);
    font-weight: bold;
    display: inline-block;
    width:1em;
}

.work-sample-card-text {
    font-size:1.8rem;
    line-height: 1.5;
    margin: 10px auto 20px;
    height:110px
}

.work-sample-links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.link-button {
    border: 1px solid rgba(231, 76, 60);
    background:transparent;
    color: rgba(231, 76, 60);
    font-size: 2rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 40%;
}

.link-button:hover {
    background: rgba(231, 76, 60);
    color: white;
    text-decoration: none;
}
.link-button:focus {
    background: rgba(231, 76, 60);
    color: white;
    text-decoration: none;
}

#review {
    display:none;
}

/* Contact */
#contact {
    background: linear-gradient(
        rgba(81,140,202, 0.75), 
        rgba(81,140,202, 0.75)
      ),
      url("../img/footer-bg-hz.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    margin:0px;
    border-bottom:1px solid rgba(80,74,74);
    color:white;
}
#contact-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height:auto;
    margin:0 auto;
    padding: 30px 0;
    width:90%;
}

#contact-head{
    font-size:7rem;
    font-weight:300;
    margin: 50px auto 0;
    text-align:center;
    width:100%;
}

#footer-img {
    margin:25px 0;
    width:100%;
}

#connecting-pieces {
    display:block;
    margin: 0 auto;
    max-width:150px;
}

#form-container{
    width:100%;
}

#contact-form {
    margin:0 auto;
    width:70%;
}
#form-fields{
    margin: 0 auto;
    width:100%;
}

.form-label{
    display:block;
    font-size:1.8rem;
    width:100%;
}

.form-input {
    border:none;
    font-size:1.8rem;
    margin: 5px 0 10px;
    width:100%;
}

#submit-btn{
    border: 1px solid rgba(231, 76, 60, 0.8);
    background-color:rgba(231, 76, 60, 0.8);
    color:white;
    font-size:1.8rem;
    padding:5px 10px;
    margin:5px 0 0;
    width:100%;
}

#submit-btn:hover {
    background-color:rgba(231, 76, 60);
    border: 1px solid rgba(231, 76, 60);
}

#submit-btn:focus {
    background-color:rgba(231, 76, 60);
}

.contact-info{
    color:rgb(255, 255, 255);
    font-size: 2rem;
    margin: 20px auto;
    text-align:center;
    text-decoration:none;
    width:70%;
}

.contact-info:hover{
    text-decoration:none;
    color:rgb(255, 255, 255);
}

#social-media-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px;
    width:70%;
}

.soc-med-links{
    color:rgb(255, 255, 255);
    font-size:5rem;
}

.soc-med-links:hover{
    color:rgba(231, 76, 60);
}

#copyright-info {
    width: 100%
}

#copyright {
    text-align:center;
}


/*THANK YOU PAGE*/

#thanks-content-container {
    background: linear-gradient(
        rgba(52, 152, 219, 0.6), 
        rgba(52, 152, 219, 0.6)
      ),
      url("../img/footer-bg-hz.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    margin:0px;
    color:rgb(255, 255, 255);
}

#thanks-icon {
    font-size:10rem;
}

#return-home-btn {
    background-color:rgba(231, 76, 60);
    color:white;
    font-size:2rem;
}

/* MOBILE LANDSCAPE */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 823px) 
  and (orientation: landscape) { 


    #portrait-content {
        display: none;
    }

    #landscape-content {
        display:block;
    }

}


/* Landscape Phones - Rotate Request */
@media only screen 
  and (min-device-width: 450px) 
  and (max-device-width: 600px) 
  and (orientation: landscape){

    #portrait-content {
        display: block;
    }

    #landscape-content {
        display:none;
    }
  }


  /* Pre-Iphone 6 / Gal S5 / Other very narrow phones  */
  @media only screen 
    and (max-device-width: 360px){
        .link-button {
           font-size:1.6rem;
        }

    }

    /* Galaxy Fold */

    @media only screen 
        and (max-device-width: 280px){

             
        }



 
