
/*Palette */
/* 
Dark Grey                           rgb(44,44,44);
Blue                                rgba(52, 152, 219);
Another darker blue                 rgba(41, 128, 185);
Red                                 rgba(231, 76, 60);
white                               rgba(236, 240, 241)
 */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GLOBAL */
html{
    font-size:10px;
    margin:auto;
}

#portrait-content {
    display:block;
    margin-top:46.25px;
}

body{
    background-color:rgba(255,255,255);
    color:rgb(44, 44, 44);
    font-family: 'Roboto', sans-serif;
    
}

h1,h2,h3,h4,h5,h6,p,a,li {
    font-family: 'Roboto', sans-serif;
}

p{
    font-size:1.8rem;
    line-height: 1.5
}

.section{
    background-color: lightblue;
    border-top: 1px solid rgb(44, 44, 44);
    padding: 50px 0;

}

.section-container {
    background-color:tomato;
    margin: 0px auto;
    width:90%;

}

.section-head {
    font-size:5rem;
    font-weight: 300;
}

.drop-cap{
    color: rgba(231, 76, 60);
    font-size: 4rem;
    font-variant: small-caps;
    font-weight:300;
    line-height:0;
}

.red-icon {
    color:rgba(231, 76, 60);
}

.red-text {
    color:rgba(231, 76, 60);
}

.btn, .card, input, textarea {    
    border-radius:0 !important;
}


#main-content-container {

}

/* HOME */

/* navbar */        
#navigation{
    background-color: rgba(80,74,74);
}

.close-bar{
    color:rgba(255,255,255);
    font-size:2rem;
    margin-left:10px;
}

.close-bar:visited { 
    color:rgba(255,255,255);
 }

.close-bar:hover {
    color:rgba(231, 76, 60);
 }

#collapsible-navbar {
    margin-right:10px;
}

#brand {
    font-weight:300;   
}

/* jumbo */
#jumbo-home{
    background: linear-gradient(
        rgba(52, 152, 219, 0.7), 
        rgba(52, 152, 219, 0.7)
      ),
      url("../img/portrait-bg-2.jpg");
    background-position:bottom right;
    background-size:cover;
    background-repeat:no-repeat;
    overflow: hidden;
    min-height:100vh;
    margin:0px;
}


#headline-container {
    color:white;
    position:relative;
    left: 20px;
    top: 66px;
    width:90%;
}


#jumbo-head-1,
#cursor1 {
    font-size: 11rem;
    font-weight:100;
}

#head-2 {
    margin-bottom:10px;
}

#jumbo-head-2, 
#cursor2 {
    font-size:4rem;
    font-weight:100;
}

#jumbo-head-3,
#cursor3 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height:1.25;
}

.cursor {
    font-weight:300;
}

#cursor2, 
#cursor3 {
    display:none;
}

/* ABOUT */


#about-icon{
    transform:rotate(90deg);
}

#about-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 40px auto;
}

#portrait-container {
    margin: auto;
    width:100%;
}

#casey-portrait{
    border:1px solid rgba(44, 44, 44);
    border-radius: 50%;
    display: block;
    height:auto;
    margin: 0 auto 20px;
    max-width:200px;
    padding:0; 

}

#about-text{
    
    width:100%
}

/* SKILLS */
#my-skills {
 
}



#skills-icon{
    color:rgba(231, 76, 60);
    transform:rotate(180deg);
}


#skills-intro-text{

}

#skills{

}

.skill-item{
    height: 100%;



}

.skill-item-logo {
    display: block;
    height:auto;
    margin: auto;
    width: 50%;
}


.skill-item-text {


    color:rgba(44, 44, 44); 
    font-weight: bold;

    width:100%;
    text-align: center;

}


/* projects */
#projects{


}


#projects-icon{
    transform:rotate(270deg);
}

#projects-content-container{

    margin: 50px auto 0;
    width:100%;
}

.work-sample-section-head{
    border-bottom: 1px solid rgba(231, 76, 60);

    font-size:3rem;
    font-weight:300;
    color:rgba(231, 76, 60);
    width: 100%;
}

/* work sample cards */
.work-sample-card{
    background: rgba(236, 240, 241, 0.5);
    border:1px solid rgba(44,44,44);
    height:auto;
    width:100%;
}

.work-sample-img {
    border-bottom:1px solid rgba(44,44,44);
    display:block;
    margin:auto;
    width:100%;
}

.work-sample-card-content {


}

.work-sample-card-title {
    color:rgba(231, 76, 60);
    font-size: 2.6rem;
    font-weight:300;
    width:100%;
}

.sample-tool-list {
    width:100%;
}

.sample-tools {
    display: inline-block;
    margin: 10px 20px 0 0;
    font-size:2rem;
    font-weight:700;
}

.sample-tools::before{
    color: rgba(231, 76, 60);
    content: "\2022";
    display: inline-block;
    font-weight: bold;
    width:1em;
}


.link-button {
    border: 1px solid rgba(231, 76, 60);
    background:transparent;
    color: rgba(231, 76, 60);
    font-size: 1.4rem;
    font-weight: 300;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 40%;
}

.link-button:hover {
    background: rgba(231, 76, 60);
    color: white;
    text-decoration: none;
}
.link-button:focus {
    background: rgba(231, 76, 60);
    color: white;
    text-decoration: none;
}


/* Contact */
#contact {
    background: linear-gradient(
        rgba(52, 152, 219, 0.7), 
        rgba(52, 152, 219, 0.7)
      ),
      url("../img/footer-bg-hz.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    border-top: 1px solid rgb(44, 44, 44);
    min-height:100vh;
    margin:auto;
    color:white;
}

#contact-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height:auto;
    margin:0 auto;
    padding: 30px 0;
    width:90%;
}

#contact-head{
    font-size:7rem;
    font-weight:300;
    margin: 50px auto 0;
    text-align:center;
    width:100%;
}

#footer-img {
    margin:25px 0;
    width:100%;
}

#connecting-pieces {
    display:block;
    margin: 0 auto;
    max-width:150px;
}

#form-container{
    width:100%;
}

#contact-form {
    margin:0 auto;
    width:70%;
}
#form-fields{
    margin: 0 auto;
    width:100%;
}

.form-label{
    display:block;
    font-size:1.8rem;
    width:100%;
}

.form-input {
    border:none;
    font-size:1.8rem;
    margin: 5px 0 10px;
    width:100%;
}

.contact-btn{
    border: 1px solid rgba(231, 76, 60, 0.8);
    background-color:rgba(231, 76, 60, 0.8);
    color:white;
    font-size:1.8rem;
    padding:5px 10px;
    margin:5px 0 0;
    width:100%;
}

.contact-btn:hover {
    background-color:rgba(231, 76, 60);
    border: 1px solid rgba(231, 76, 60);
}

.contact-btn:focus {
    background-color:rgba(231, 76, 60);
}


.contact-info{
    color:rgb(255, 255, 255);
    font-size: 2rem;
    margin: 20px auto;
    text-align:center;
    text-decoration:none;
    width:70%;
}

.contact-info:hover{
    color:rgb(255, 255, 255);
    text-decoration:none;
}

#social-media-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px;
    width:70%;
}

.soc-med-links{
    color:rgb(255, 255, 255);
    font-size:5rem;
}

.soc-med-links:hover{
    color:rgba(231, 76, 60);
}

#copyright-info {
    width: 100%
}

#copyright {
    text-align:center;
}


/* OTHER PROJECTS PAGE */

#more-projects-main {

}

#more-projects-section-head {
  
}




/*THANK YOU PAGE*/

#thanks-wrapper {
    background: linear-gradient(
        rgba(52, 152, 219, 0.7), 
        rgba(52, 152, 219, 0.7)
      ),
      url("../img/footer-bg-hz.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    color:rgb(255, 255, 255);
    min-height:100vh;
    margin:0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#thanks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-flow: row wrap;

    height: 50vh;
    text-align: center;
    width: 90%;
}

#thanks-head{
    font-size:4rem;
    width: 100%;
}

#thanks-subhead {
    font-size: 3rem;
    width: 100%;
}

#thanks-icon {
    font-size:10rem;
}

#go-back-link {
    width:100%;
}

#return-home-btn {
    background-color:rgba(231, 76, 60);
    color:white;
    font-size:2rem;
    width: 90%;
}


/* MOBILE LANDSCAPE */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 599px)  
  and (orientation: landscape) { 
    #jumbo-home{
        background: linear-gradient(
        rgba(52, 152, 219, 0.7), 
        rgba(52, 152, 219, 0.7)
        ),
        url("../img/landscape-bg.jpg");
        background-position:bottom right;
        background-size:cover;
        background-repeat:no-repeat;
    }

    p {
        font-size: 1.6rem;
    }

    #headline-container {
        left: 44px;
        top:0px;
    }

    #jumbo-head-1,
    #cursor1 {
        font-size: 5rem;
    }

    #jumbo-head-2, 
    #cursor2 {
        font-size: 3rem;
    }

    #jumbo-head-3,
    #cursor3 {
        font-size: 2rem;
        line-height:1.25;
    }

    .section-container{
        background-color: lightgoldenrodyellow;
    }



    #go-back-link {
        margin-top: 20px;
        width:60%;
    }
}

  /* Pre-Iphone 6 / Gal S5 / Other very narrow phones  */
  @media only screen 
    and (max-device-width: 360px){

        #headline-container {
            top: 50px;
            width:90%;
        }
        
        #jumbo-head-1,
        #cursor1 {
            font-size: 8rem;
        }
        
        #head-2 {
            margin-bottom:5px;
        }
        
        #jumbo-head-2, 
        #cursor2 {
            font-size:3.2rem;
        }
        
        #jumbo-head-3,
        #cursor3 {
            font-size: 2rem;
            line-height:1.25;
        }

        .section-container {
            background-color: tan;
        }


        .contact-info {
            font-size:1.8rem;
            width:90%;
        }
    }


/* Tablet Styles */

/* Portrait */
@media only screen
    and (min-width: 768px)
    and (orientation: portrait)
    {
        
    #headline-container {
        left: 33px;
        top: 44px;
        width:85%;
    }

    #jumbo-head-1,
    #cursor1 {
        font-size: 15rem;
        
    }

    #jumbo-head-2, 
    #cursor2 {
        font-size:7rem;
    }

    #jumbo-head-3,
    #cursor3 {
        font-size: 4rem;
        line-height:1.25;
    }

    .section-container {
        background-color: lightpink;
    }

    /* ABOUT */


    #about-content-container {

        justify-content: space-between;
     
    }


    #portrait-container {
        order: 2;
        width: 40%;
    }


    #about-text {
        width: 60%
    }
    
    /* PROJECTS */


    /* FOOTER */

    #contact-container {
        width:66%;
    }

    #copyright-info {
        margin-top:50px;
    }
    
    #copyright{
        font-size: 2.4rem;
    }
 

    /* Thanks Page */


    #thanks-head{
        font-size:6rem;
        width: 100%;
    }
    
    #thanks-subhead {
        font-size: 4.8rem;
        width: 100%;
    }
    
    #thanks-icon {
        font-size:10rem;
    }

    #go-back-link {
        width:60%;
    }

    #return-home-btn {
        font-size:3rem;
    }
}

/* Tablet Landscape */

@media only screen
    and (min-width: 1024px)
    and (orientation: landscape)
    {
        #headline-container {
            left: 44px;
            top: 66px;
            width:60%;
        }
    
        #jumbo-head-1,
        #cursor1 {
            font-size: 15rem;
            
        }
    
        #jumbo-head-2, 
        #cursor2 {
            font-size:7rem;
        }
    
        #jumbo-head-3,
        #cursor3 {
            font-size: 4rem;
            line-height:1.25;
        }

        .section-container {
            background-color: plum;
        }

        #about-content-container {

            justify-content: space-between;
         
        }
    
    
        #portrait-container {
            order: 2;
            width: 40%;
        }
    
        
        #casey-portrait {
            /* margin:0 auto 0 50px ; */
           max-width:300px;
       }
    
        #about-text {
            width: 60%
        }


        #contact-container {
            width:66%;
        }

        .contact-info{
            font-size: 2.6rem;
        }

        #copyright{
            font-size: 2rem;
        }

        /* Thanks Page */

        #go-back-link {
            width:50%;
        }

        #thanks-head{
            font-size:6rem;
            width: 100%;
        }
        
        #thanks-subhead {
            font-size: 4.8rem;
            width: 100%;
        }

        #return-home-btn {
            font-size:3rem;
        }
        
    }

/* LARGE TABLETS (IPAD - PRO) PORTRAT */

@media only screen
    and (min-device-width: 1024px)
    and (orientation: portrait){

        #headline-container {
            left: 44px;
            top: 33px;
            width:70%;
        }
    
        #jumbo-head-1,
        #cursor1 {
            font-size: 17rem;
        }
    
        #jumbo-head-2, 
        #cursor2 {
            font-size:8rem;
        }
    
        #jumbo-head-3,
        #cursor3 {
            font-size: 5rem;
        }

        .section-container {
            background-color: lightgray;
        }



        #contact {
            margin: 50px auto 0;
        }
    

        #contact-container {
            width:50%;
        }

        /* Thanks Page */

        #thanks-head{
            font-size:7rem;
            width: 100%;
        }
        
        #thanks-subhead {
            font-size: 6rem;
            width: 100%;
        }
        
        #thanks-icon {
            font-size:20rem;
        }

        #return-home-btn {
            font-size:3rem;
        }
    }


    /* IPAD PRO LANDSCAPE */
    @media only screen
        and (min-device-width: 1366px)
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 2){

        #jumbo-home{
            background: linear-gradient(
            rgba(52, 152, 219, 0.7), 
            rgba(52, 152, 219, 0.7)
            ),
            url("../img/landscape-bg.jpg");
            background-position:bottom right;
            background-size:cover;
            background-repeat:no-repeat;
        }

        #headline-container {
            left: 55px;
            top: 99px;
            width:55%;
        }
    
        #jumbo-head-1,
        #cursor1 {
            font-size: 17rem;
        }
    
        #jumbo-head-2, 
        #cursor2 {
            font-size:8rem;
        }
    
        #jumbo-head-3,
        #cursor3 {
            font-size: 5rem;
        }
      
        .section-container {
            background-color: salmon;
        }

     
        #casey-portrait {
            margin:0 auto;
            max-width:300px;
        }
        

        #contact-container {
            width:50%;
        }


}

/* LAPTOP  & DESKTOP */
 
/* ----------- Retina Screens ----------- */
@media screen 
  and (min-width: 1400px) { 
 
    #jumbo-home{
        background: linear-gradient(
        rgba(52, 152, 219, 0.7), 
        rgba(52, 152, 219, 0.7)
        ),
        url("../img/landscape-bg.jpg");
        background-position:bottom right;
        background-size:cover;
        background-repeat:no-repeat;
    }



    .section-container {
        background-color: palegreen;
    }
/* 
 
    #casey-portrait {
        margin:0 auto;
    }
 */



    #contact-container {
        max-width:600px;
    }
}