/*Color Palette*/
/*
Red rgba(226,54,54)
Gray rgba(80,74,74)
Blue rgba(81,140,202)
White rgba(255,255,255)
Black rgba(0,0,0)
*/

/* GLOBAL */
html{
    font-size:10px;
}

body{
    background-color:rgba(255,255,255);
    font-family: 'Roboto', sans-serif;
    margin-top:50px;
}

h1,h2,h3,h4,h5,h6,p,a,li {
 font-family: 'Roboto', sans-serif;
}

h1{
    font-size:7rem;
}

h2 {
    font-size:3.6rem;
    font-weight: 300;
}

h3 {
    font-size:3.2rem;
}

h4 {
    font-size:2.0rem;
}

p{
    font-size:1.8rem;
}

.red-icon {
    font-size:5rem;
    color:rgba(226,54,54);
}

.btn, .card, input, textarea {     /*Get rid of Bootstrap rounded corner defaults*/
    border-radius:0 !important;
}

.btn:hover{
    transform: scale(1.1);
    color:white;
}

/* HOME */

/* navbar */        
#navigation{
    background-color: rgba(80,74,74);
}

.close-bar{
    font-size:2rem;
    margin-left:10px;
    color:rgba(255,255,255);
}

.close-bar:visited { 
    color:rgba(255,255,255);
 }

.close-bar:hover {
    color:rgba(226,54,54);
 }

#collapsible-navbar {
    margin-right:10px;
}

#brand {
    font-weight:300;   
}

/* jumbo */
#jumbo-home{
    background: linear-gradient(
        rgba(81,140,202, 0.75), 
        rgba(81,140,202, 0.75)
      ),
      url("../img/landscape-bg-2.png");
    background-position:bottom /*right*/;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    margin:0px;
    border-bottom:1px solid rgba(80,74,74);
}

#jumbo-container{
  color:white;
}

#jumbo-head-1 {
    font-size: 9rem;
    font-weight:700;
}
#heavy-font{
    font-weight:700;
}

#jumbo-head-2 {
    
    font-size:5rem;
    font-weight:400;
}

#jumbo-head-3{

    font-size: 4.4rem;
    font-weight: 300;
}
 
.cursor {
    font-weight:300;
    font-size:6.6rem;
}

#cursor2, 
#cursor3 {
    display:none;
}

/* about */
#about-me {
    height:auto;
    min-height:100vh;
}

#about-icon{
    transform:rotate(90deg);
}

#casey-portrait{
    max-width:200px;
    height:100%;
    border:1px solid rgba(0, 0, 0);
    padding:0;
}

/* skills */
#my-skills {
    border-top: 1px solid black;
    height:auto;
    min-height:100vh;
}
#skills-icon{
    transform:rotate(180deg);
}


.skill-div{
    background:rgba(226,54,54);
    color:rgb(255, 255, 255);
}

.skill-group-head{
    font-weight:700;
}

.list-group-item {
    font-size:2rem; 
    border:none;
    background:transparent;
    font-weight:100;
}

/* projects */
#projects{
    min-height:100vh;
    border-top:1px solid black;
}

#proects-icon{
    transform:rotate(270deg);
}
.work-sample-card{
    padding:0;
    border:1px solid rgba(80,74,74);
}

.work-sample-section-head{
    border-bottom: 2px solid rgba(226,54,54);
}

.work-sample-link-btn {
    background-color:rgba(226,54,54);
    color:white;
    size:1.6rem;
}

.card-title {
    font-size: 2.6rem;
    font-weight:300;
}

.card-img-top{
    border-bottom:1px solid rgba(80,74,74);
}

#review {
    display:none;
}

/* Contact */
#contact {
    background: linear-gradient(
        rgba(81,140,202, 0.75), 
        rgba(81,140,202, 0.75)
      ),
      url("../img/footer-bg-hz.png");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    margin:0px;
    border-bottom:1px solid rgba(80,74,74);
    color:white;
}

#contact-head{
    font-size:7rem;
    font-weight:300;
}

#connecting-pieces {
    max-width:150px;
}

.form-label{
    font-size:1.8rem;
}

.contact-details{
     text-decoration:none;
     color:rgb(255, 255, 255);
     font-size: 2rem;
}
.contact-details:hover{
     text-decoration:none;
     color:rgb(255, 255, 255);
}

.soc-med-links{
     color:rgb(255, 255, 255);
     font-size:5rem;
}

.soc-med-links:hover{
    color:rgba(226, 54, 54);
}

#submit-btn{
     background-color:rgba(226,54,54);
     color:white;
     font-size:1.8rem;
}


/*THANK YOU PAGE*/

#thanks-content-container {
    background: linear-gradient(
        rgba(81,140,202, 0.75), 
        rgba(81,140,202, 0.75)
      ),
      url("../img/footer-bg-hz.png");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    margin:0px;
    color:rgb(255, 255, 255);
}

#thanks-icon {
    font-size:10rem;
}

#return-home-btn {
    background-color:rgba(226,54,54);
    color:white;
    font-size:2rem;
}

/* MOBILE STYLES */

@media only screen and (max-width:768px){

/* Sets margin for collapsed navbar*/
    body{
     margin-top:46.25px;
    }
}